# Hugging Face API Token (https://huggingface.co/settings/tokens)
HUGGINGFACE_API_KEY=hf_xxxxxxxxxxxx

# Supabase (https://supabase.com/dashboard)
SUPABASE_URL=https://ftwsqdzfxpoanjffcrio.supabase.co
SUPABASE_SERVICE_KEY=
